{{ attach_library('candidates/candidates') }}
<div class="candidate-details">
    <p><strong>Email-ID: </strong>{{ node.field_email_id.value }}</p>
    {% set dob = node.field_date_of_birth.value|split('-') %}
    {% set birth_date = dob[2]~'-'~dob[1]~'-'~dob[0] %}
    <p><strong>Date of Birth: </strong>{{ birth_date }}</p>
    {% if node.field_gender.value == 'male' %}
        <p><strong>Gender: </strong>Male</p>
    {% else %}
        <p><strong>Gender: </strong>Female</p>
    {% endif %}
    <p><strong>Country: </strong>{{ node.field_country.value }}</p>
    {% if node.field_passport.value == 'yes' %}
        <p><strong>Passport: </strong>{{ node.field_passport_number.value }}</p>
    {% else %}
        <p><strong>Passport: </strong>N.A</p>
    {% endif %}
</div>